In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("review_crawling.csv")
df.head()

,id_review,name,review,rate
0,0.0,Supardan bekasi,"Beli 3 buah, semua tidak ada yang keluar strum...",1
1,1.0,saipul saipul,Barang busuk dijual...ga berfungsi,1
2,2.0,Faizin Arif,"Saya turunin ratingnya, karena setelah saya co...",1
3,3.0,robby w,kondisi mati gak bs utk cas dsb,1
4,4.0,sofa rohmani,respon lama,1

In [4]:
df.rate.astype(int)

0      1
1      1
2      1
3      1
4      1
      ..
237    5
238    5
239    5
240    5
241    5
Name: rate, Length: 242, dtype: int32

In [5]:
df.dtypes

id_review    float64
name          object
review        object
rate           int64
dtype: object

In [6]:
target=[]
for index, row in df.iterrows():
    if row['rate']>=4:
        target.append(1)
    else:
        target.append(0)

df['target']=target
df.drop(columns=['rate'], inplace=True)
df.head()

,id_review,name,review,target
0,0.0,Supardan bekasi,"Beli 3 buah, semua tidak ada yang keluar strum...",0
1,1.0,saipul saipul,Barang busuk dijual...ga berfungsi,0
2,2.0,Faizin Arif,"Saya turunin ratingnya, karena setelah saya co...",0
3,3.0,robby w,kondisi mati gak bs utk cas dsb,0
4,4.0,sofa rohmani,respon lama,0